  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Inquiries</h2>
              <a href="http://goo.gl/forms/echWUft9TewG9tuh1" class="btn btn-default btn-xl wow tada">Click Here!</a>
          </div>
          <!--<hr>
          <div class="call-to-action">
              <h2>Reserve a property with a payment</h2>
              <a href="pmt.html" class="btn btn-default btn-xl wow tada">Click Here!</a>
          </div>
          <hr>-->
          <div class="call-to-action">
              <hr>
              <h2>Preliminary Agreement Form</h2>
              <a href="http://goo.gl/forms/tmFbYUDJjl6W9PdP2" class="btn btn-default btn-xl wow tada">Click Here!</a>
          </div>
      </div>
  </aside>
