<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We're professionals in the land niche</h2>
                <hr class="light">
                <p class="text-faded">Real Estate Properties North America takes a long market position on fair priced real estate in the land niche. Our mission is to provide customers quality property, by extracting reliable information, to make ownership more simple and affordable. We work closely with a nation wide team of wholesale investors with properties spanning across North America. Please consider giving us the opportunity to help you find properties in any of the over 3000 counties by contacting us directly or on social media.</p>
                <a href="#portfolio" class="btn btn-default btn-xl">Find Property!</a>
            </div>
        </div>
    </div>
</section>
