<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Give us a call or send us an email and we will get back to you as soon as possible.</p>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://facebook.com/realestatepropertiesna">
                    <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ realestatepropertiesna }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="mailto:{{ realepna@gmail.com}}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://pinterest.com/realepna">
                    <i class="fa fa-pinterest fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ realepna }}</p>
                </a>
            </div>
            <br />
            <div class="col-lg-5 col-lg-offset-1 text-center">
                <a href="https://www.trustpilot.com/review/landestates.net">
                    <img src="https://images-static.trustpilot.com/api/logos/light-bg/120x14.png" alt="">
                </a>
            </div>
            <div class="col-lg-5 col-lg-offset-1 text-center">
                <a href="http://www.zillow.com/homes/for_sale/Port-Townsend-WA/43689_rid/35879104_agent_list/">
                    <img src="http://www.zillow.com/widgets/GetVersionedResource.htm?path=/static/logos/contactowner_lrg_btn.gif" width="150" height="40" alt="Zillow Real Estate Search" />
                </a>
            </div>
        </div> http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/gh-pages-logo.svg

        <p>
            Hosted on <a href="https://pages.github.com/">
               <img src="https://pages.github.com/images/logo.svg" width="150" height="40" alt="Zillow Real Estate Search" />
            </a>
        </p>

    </div>
</section>
