  <aside class="bg-dark" id="forms">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>General Inquiries</h2>
              <a href="http://goo.gl/forms/echWUft9TewG9tuh1" class="btn btn-default btn-xl wow tada">Click Here!</a>
          </div>
          <hr>
          <div class="call-to-action">
              <h2>Inquiry to sell</h2>
              <a href="http://goo.gl/forms/VP6E8xk8Isqm3MUv1" class="btn btn-default btn-xl wow tada">Click Here!</a>
          </div>
          <hr>
          <div class="call-to-action">
              <h2>Agreement Form</h2>
              <a href="http://goo.gl/forms/tmFbYUDJjl6W9PdP2" class="btn btn-default btn-xl wow tada">Click Here!</a>
          </div>
          <hr>
          <div class="call-to-action">
              <h2>Terms Agreement Form</h2>
              <a href="http://goo.gl/forms/Vlu2Gn3SzO3Talcm2" class="btn btn-default btn-xl wow tada">Click Here!</a>
          </div>
          <hr>
          <div class="call-to-action">
              <h2>Monthly Payment Information</h2>
              <a href="https://goo.gl/forms/NP8OzKzNJHunLfmN2" class="btn btn-default btn-xl wow tada">Click Here!</a>
          </div>
          </div>
  </aside>
