<div class="container">  
    <!--To show the quote on the right use the class .blockquote-reverse:-->
    <blockquote class="blockquote-reverse">
        <p>Recent trends in both capital wealth and income are driven almost entirely by land/housing.</p>
        <footer><a href="https://medium.com/the-ferenstein-wire/a-26-year-old-mit-graduate-is-turning-heads-over-his-theory-that-income-inequality-is-actually-2a3b423e0c#.4buqafy1l">award winning economist Matthew Rognlie</a></footer>
    </blockquote>
</div>
